PORT=3003

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=sedra
DB_PASSWORD=sedra2003
DB_NAME=chu_service_db

# DOIT etre identique au JWT_SECRET de l'auth-service ET du service upload.
JWT_SECRET=secret123
INTERNAL_API_KEY=chu-internal-key-a1b2c3d4

# Service upload
UPLOAD_SERVICE_URL=https://service-upload-aem1.onrender.com
# Taille max du logo en octets (5 Mo par defaut)
MAX_FILE_SIZE=5242880